@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jetbrains Mono';
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--black);
    color: var(--text);
}

:root {
    --black: #121214;
    --dark-gray: #212025;
    --white: #FFFFFF;
    --text: #E1E1E6;
    --purple: #7159C1;
    --vue: #3FB984;
}

.main {
    width: calc(100% - 285px);
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; 
}

.main .section {
    margin: 100px;
}

.page-content {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}