@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
}

body {
    background-color: var(--black);
    color: var(--text);
    overflow-x: hidden;
}

:root {
    --black: #121214;
    --dark-gray: #212025;
    --white: #FFFFFF;
    --text: #E1E1E6;
    --purple: #7159C1;
    --vue: #3FB984;
    --red: #ec5453;
    --npurple: #a84cb8;
    --yellow: #f9bf3f;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 260px;
}

.wrapper .main_content .info {
    margin: 60px;
    color: var(--text);
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

@media (max-height: 500px) {
    .social_media {
        display: none !important;
    }
}